<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      function myInstanceof(left, right) {
        //获取（构造）函数的（显式）原型
        let rp = right.prototype;
        //获取对象的（隐式）原型
        left = left.__proto__;
        //判断对象的（隐式）原型是否等于（构造）函数的（显式）原型
        while (true) {
          if (left === null) {
            return false;
          }
          if (left === rp) {
            return true;
          }
          left = left.__proto__;
        }
      }

      let a = /12/;
      let b = '123';
      console.log(a instanceof RegExp, myInstanceof(a, RegExp)); //true,true
      console.log(b instanceof RegExp, myInstanceof(b, RegExp)); //false,

      //    a instanceof B ,a必须是一个对象， B必须是一个合法的函数，在这两个条件满足的情况下； B的prototype属性指向的原型对象是否在对象a的原型链上。如果在 则返回的是true 。。 简而言之 instanceof就是一个查找原型链的过程
    </script>
  </body>
</html>
